@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .font-outline-2 {
      -webkit-text-stroke: 0.5px black;
    }
    .font-outline-4 {
      -webkit-text-stroke: 4px black;
    }
  }
  .checked {
    background-color: #000; /* black background */
    color: #fff; /* white text */
    border-radius: 20ch;
    padding: 0.1rem; /* add some padding to make it look nice */
  }
  .rounded-lg {
    border-radius: 20ch;
  }